<div class="forgot-password">
  <h2 class="forgot-password-header">Reset password</h2>
  <form
    [formGroup]="forgotPasswordForm"
    class="forgot-password-container"
    (ngSubmit)="resetPassword()"
  >
    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        ngModel
        email
      />
    </p>

    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
      <div *ngIf="formControls.email.errors.required">
        Email is required
      </div>
      <div *ngIf="formControls.email.errors.email">
        Valid email is required
      </div>
    </div>

    <a routerLink="/login" class="btn btn-link">Log in</a>
    <p>
      <input type="submit" value="Reset password" />
    </p>
  </form>
</div>
