<div class="login">
  <h2 class="login-header">Log in</h2>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
    <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
      <input
        type="text"
        placeholder="Username"
        formControlName="username"
        required
        minlength="7"
      />
    </p>

    <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
      <div *ngIf="formControls.username.errors.required">
        Username is required
      </div>
      <div *ngIf="formControls.username.errors.minlength">
        Username should contain at least 7 characters
      </div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        required
        minlength="7"
      />
    </p>

    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">
        Password is required
      </div>
      <div *ngIf="formControls.password.errors.minlength">
        Password should contain at least 7 characters
      </div>
    </div>

    <a routerLink="/register" class="btn btn-link">Register account</a>
    <a routerLink="/projects" class="btn btn-link">Did you forget password?</a>
    <p>
      <input type="submit" value="Log in" />
    </p>
  </form>
</div>
